<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
        
    <!-- 使用注释 -->
    <context:annotation-config/>
    <!-- 自动扫描包下的控制器 -->
    <context:component-scan base-package="com.rtcchat" />
    <!-- 使用aop -->
    <aop:aspectj-autoproxy />

    <!-- 配置controller返回值指定的路径 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   	<property name="prefix" value="/"></property>
	   	<property name="suffix" value=".jsp"></property>
    </bean>
    
    <!-- 数据库信息配置-->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations" value="classpath:jdbc.properties"/>
	</bean>
	<bean id="dataSource" destroy-method="close"
    	class="org.apache.commons.dbcp.BasicDataSource">
	  	<property name="driverClassName" value="${driverClassName}"/>
	  	<property name="url" value="${url}"/>
	  	<property name="username" value="${username}"/>
	  	<property name="password" value="${password}"/>
	</bean>
	
	
	<!-- 获取工厂SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	   	<property name="packagesToScan">
	    	<list>
	        	<value>com.rtcchat.entity</value>
	      	</list>
	    </property>
	    <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
	    </property>
  	</bean>
  	
  	<!-- hibernateTemplate设置-->
  	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  	</bean>
</beans>
